@model AphidBT.Models.ThirdPartyLoginConfirmationVM
@{
  Layout = null;
  ViewBag.Title = "Register";
}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.ico">
  <title>Aphid BT - The ultimate Bug Tracker</title>

  <!-- Bootstrap Core CSS -->
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="~/Content/style.css" rel="stylesheet" />

  <!-- You can change the theme colors from here -->
  <link href="~/Content/blue.css" rel="stylesheet" />

  <link href="~/Content/pages.css" rel="stylesheet" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>

  <!-- ============================================================== -->
  <!-- Main wrapper with content
  <!-- ============================================================== -->
  <section id="wrapper">
    <div class="login-register" style="background-image: url(/Images/login-register.jpg);">
      <div class="login-box card">
        <div class="card-body">
          @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-material", role = "form", enctype = "multipart/form-data" }))
          {
            @Html.AntiForgeryToken()

            <div class="row justify-content-between align-content-center">
              <div class="col-10 align-self-center">
                <h3 class="box-title">Association Form</h3>
              </div>
              <div class="col-2 m-b-20">
                <img src="~/Images/aphid-icon_40x40-96.png" />
              </div>
            </div>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="card-body">
              <p class="text-info">
                You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                You may complete the registration here.
              </p>
            </div>
            <hr />
            <div class="form-group">
              @Html.LabelFor(m => m.Email, new { @class = "col-md-10 control-label" })
              <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
              </div>
            </div>

            <!-- First name field -->
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="text" placeholder="First Name" name="FirstName" />
              </div>
            </div>

            <!-- Last name field -->
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="text" placeholder="Last Name" name="LastName" />
              </div>
            </div>

            <!-- Optional Avatar field -->
            <div class="form-group">
              @Html.Label("Personal Avatar", new { @class = "col-10 control-label" })
              <div class="col-xs-10">
                @Html.TextBoxFor(m => m.Avatar, new { type = "file" })
              </div>
            </div>

            <!-- Submit control -->
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
              </div>
            </div>

          }
        </div>
      </div>
    </div>
  </section>

          <!-- ============================================================== -->
          <!-- Scripts -->
          <!-- ============================================================== -->
          <script src="~/Scripts/jquery.min.js"></script>
          <script src="~/Scripts/popper.min.js"></script>
          <script src="~/Scripts/bootstrap.min.js"></script>
          <script src="~/Scripts/jquery.slimscroll.js"></script>
          <script src="~/Scripts/waves.js"></script>
          <script src="~/Scripts/sidebarmenu.js"></script>
          <script src="~/Scripts/sticky-kit.min.js"></script>
          <script src="~/Scripts/jquery.sparkline.min.js"></script>
          <script src="~/Scripts/custom.min.js"></script>
          <script src="~/Scripts/jQuery.style.switcher.js"></script>
          <script src="~/Scripts/owl.carousel.min.js"></script>

</body>
</html>
