@using Microsoft.AspNet.Identity
@model AphidBT.ViewModels.TicketsListVM

@{
  ViewBag.Title = "Index";
}

<h2>All Tickets</h2>

@if (User.IsInRole("Submitter"))
{
  <p>
    @Html.ActionLink("Create New", "Create")
  </p>
}

<table class="table">
  <tr>
    <th>
      Developer
    </th>
    <th>
      Project
    </th>
    <th>
      Submitter
    </th>
    <th>
      Ticket Priority
    </th>
    <th>
      Ticket Status
    </th>
    <th>
      Ticket Type
    </th>
    <th>
      Issue Title
    </th>
    <th>
      Issue Description
    </th>
    <th>
      Created Date
    </th>
    <th>
      Updated Date
    </th>
    <th>
      Resolved?
    </th>
    <th>
      IsArchived?
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model.AllTickets)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Developer.FirstName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Project.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Submitter.FirstName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TicketType.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Created)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Updated)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsResolved)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsArchived)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id })
      </td>
    </tr>
  }

</table>


@if (Model.MyTickets.Count > 0)
{
<hr />
<h2>My Tickets</h2>

<table class="table">
  <tr>
    <th>
      Developer
    </th>
    <th>
      Project
    </th>
    <th>
      Submitter
    </th>
    <th>
      Ticket Priority
    </th>
    <th>
      Ticket Status
    </th>
    <th>
      Ticket Type
    </th>
    <th>
      Issue Title
    </th>
    <th>
      Issue Description
    </th>
    <th>
      Created Date
    </th>
    <th>
      Updated Date
    </th>
    <th>
      Resolved?
    </th>
    <th>
      IsArchived?
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model.MyTickets)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Developer.FirstName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Project.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Submitter.FirstName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TicketType.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Created)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Updated)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsResolved)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsArchived)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id })
      </td>
    </tr>
  }

</table>
}
else
{
  <h2> You Have No Tickets </h2>
}

