@using AphidBT.Models
@using AphidBT.Helpers

@model IEnumerable<ApplicationUser>

@{
  ViewBag.Title = "ManageProject";
  var projectHelper = new ProjectHelper();
}

<h2>Manage Projects</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row mb-2">
            <div class="col-md-5">
              @Html.ListBox("UserIds")
            </div>

            <div class="col-md-5">
              @Html.DropDownList("ProjectName", "-- No Project --")
            </div>
        </div>

        <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">Add Users To Project</button>
            </div>
        </div>
    }
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>
            @Html.DisplayName("User Email")
          </th>
          <th>
            @Html.DisplayName("Projects")
          </th>

          <th></th>
        </tr>

        @foreach (var person in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => person.Email)
            </td>
            <td>
              @projectHelper.ListUserProjects(person.Id)
            </td>
          </tr>
        }

      </table>
    </div>
  </div>
</div>

