@using AphidBT.Helpers

@{
  var projectHelper = new ProjectHelper();
  var ticketHelper = new TicketHelper();
  var userRolesHelper = new UserRolesHelper();
  var userHelper = new UserHelper();
}

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->

<div class="card-group">
  <div class="card mr-5">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
          <h3 class="">@projectHelper.UserProjectCount()</h3>
          <h6 class="card-subtitle">Total Projects</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Total Ticket Count -->
  <div class="card mr-5">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2 class="m-b-0"><i class="mdi mdi-alert-circle text-success"></i></h2>
          <h3 class="">@ticketHelper.TicketCount()</h3>
          <h6 class="card-subtitle">Open Tickets</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Resolved Tickets -->
  <div class="card mr-5">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2 class="m-b-0"><i class="mdi mdi-wallet text-purple"></i></h2>
          <h3 class="">@ticketHelper.ResolvedTicketsCount()</h3>
          <h6 class="card-subtitle">Resolved Tickets</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- End Resolved Tickets -->
  <!-- Archived Tickets -->
  <div class="card mr-5">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2 class="m-b-0"><i class="mdi mdi-buffer text-warning"></i></h2>
          <h3 class="">@ticketHelper.ArchivedTicketsCount()</h3>
          <h6 class="card-subtitle">Archived Tickets</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->
<!-- User Boxes Row -->
<div class="row justify-content-around">
  <!-- Managers -->
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-success card-inverse">
      <div class="box text-center">
        <h1 class="font-light text-white">@userRolesHelper.UsersInRole("Project Manager").Count</h1>
        <h6 class="text-white">Managers</h6>
      </div>
    </div>
  </div>
  <!-- Developers -->
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="box bg-info text-center">
        <h1 class="font-light text-white">@userRolesHelper.UsersInRole("Developer").Count</h1>
        <h6 class="text-white">Developers</h6>
      </div>
    </div>
  </div>
  <!-- Submitters -->
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-dark">
      <div class="box text-center">
        <h1 class="font-light text-white">@userRolesHelper.UsersInRole("Submitter").Count</h1>
        <h6 class="text-white">Submitters</h6>
      </div>
    </div>
  </div>
</div>
<div class="m-b-20"><hr /></div>
<!-- End User Boxes Row -->
<!-- Comments/Users Row -->
<div class="row">
  <!-- Comments column -->
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body bg-info">
        <h4 class="text-white card-title">Most Recent Tickets</h4>
        <h6 class="card-subtitle text-white m-0">
          <a href="@Url.Action("Index","Tickets")"><span class="text-white"><i class="mdi mdi-format-list-numbers mr-1"></i>Show all Tickets</span></a>
        </h6>
      </div>
      <div class="card-body">
        <div id="slimscroll2">
          <div class="comment-widgets m-b-20">            
            @foreach (var ticket in ticketHelper.GetMyTickets())
            {
            <div class="d-flex flex-row comment-row">
              <div><a href="@Url.Action("Dashboard", "Tickets", new { Id = ticket.Id})" class="img-responsive"><i class="mdi mdi-arrow-expand-all"></i></a></div>
              <div class="comment-text w-100">
                <div class="row text-center mb-2">
                  <div class="col-12">
                    <h4><span class="text-blue">Ticket Title: </span>@ticket.Title</h4>
                  </div>
                  <div class="col-12">
                    <h5><span class="text-blue">Date Submitted: </span>@ticket.Created</h5>
                  </div>
                </div>
                <div class="row">

                  <!-- Submitter -->
                  <div class="col-6">

                    <div class="row text-center mb-1">
                      <div class="col-12">
                        <h5><span class="text-blue">Submitted by:</span></h5>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-12 text-center p-2">
                        <span class="round">
                          <img src="@ticket.Submitter.AvatarPath" alt="user" width="50">
                        </span>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-12 text-center">
                        <h5>@ticket.Submitter.FullName</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Developer -->
                  <div class="col-6">
                    <div class="row text-center mb-1">
                      <div class="col-12">
                        <h5><span class="text-blue">Assigned to:</span></h5>
                      </div>
                    </div>
                    @if (@ticket.DeveloperId == null)
                  {
                      <div class="row justify-content-center">
                        <div class="col-12 text-center">
                          <h5 class="text-danger">No developer assigned.</h5>
                        </div>
                      </div>
                    }
                    else
                    {
                      <div class="row justify-content-center">
                        <div class="col-12 text-center p-2">
                          <span class="round">
                            <img src="@ticket.Developer.AvatarPath" alt="user" width="50">
                          </span>
                        </div>
                      </div>

                      <div class="row justify-content-center">
                        <div class="col-12 text-center">
                          <h5>@ticket.Developer.FullName</h5>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Users Column -->
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body bg-dark">
        <h4 class="text-white card-title">Team Members</h4>
        <h6 class="card-subtitle text-white m-0">Click on any user to manage user details.</h6>
      </div>
      <div class="card-body">
        <div id="slimscroll1">
          <div class="message-box contact-box">
            @*<h2 class="add-ct-btn"><button type="button" class="btn btn-circle btn-lg btn-success waves-effect waves-dark">+</button></h2>*@
            <div class="message-widget contact-widget">
              @foreach (var item in userHelper.GetUserList())
              {
                <a href="@Url.Action("Manage", "Users", new { userId = item.Id })">
                  <div class="row">
                    <div class="col-2">
                      @if (item.AvatarPath == null)
                      {
                        <div class="user-img"><img src="~/Images/Avatars/default_avatar.png" alt="user" class="img-circle mb-2"></div>
                      }
                      else
                      {
                        <div class="user-img"><img src="@item.AvatarPath" alt="user" class="img-circle"></div>
                      }
                    </div>
                    <div class="col-10">
                      <div class="mail-content">
                        <h5>
                          @item.FullName
                          @if (@userRolesHelper.IsUserAssignedAnyRole(item.Id))
                          {
                            <span>(</span>@userRolesHelper.ListUserRoles(item.Id).FirstOrDefault();<span>)</span>
                          }
                          else
                          {
                            <span class="text-danger">(No Role Assigned)</span>
                          }
                        </h5>
                        <span class="mail-desc">@item.Email</span>
                      </div>
                    </div>
                  </div>
                </a>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Comments/Users Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

@section Scripts {
  <script src="~/Scripts/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {

      $('#myTable').DataTable();
    })

    $('#slimscroll1').slimScroll({
      height: '400px'
    });

    $('#slimscroll2').slimScroll({
      height: '400px'
    });

  </script>
}
