@using AphidBT.Helpers

@{
  var projectHelper = new ProjectHelper();
  var ticketHelper = new TicketHelper();
  var userRolesHelper = new UserRolesHelper();
  var userHelper = new UserHelper();
}

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->

<div class="card-group">
  <div class="card mr-5">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
          <h3 class="">@projectHelper.UserProjectCount()</h3>
          <h6 class="card-subtitle">Total Projects</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Total Ticket Count -->
  <div class="card mr-5">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2 class="m-b-0"><i class="mdi mdi-alert-circle text-success"></i></h2>
          <h3 class="">@ticketHelper.TicketCount()</h3>
          <h6 class="card-subtitle">Open Tickets</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Resolved Tickets -->
  <div class="card mr-5">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2 class="m-b-0"><i class="mdi mdi-wallet text-purple"></i></h2>
          <h3 class="">@ticketHelper.ResolvedTicketsCount()</h3>
          <h6 class="card-subtitle">Resolved Tickets</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- End Resolved Tickets -->
  <!-- Archived Tickets -->
  <div class="card mr-5">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2 class="m-b-0"><i class="mdi mdi-buffer text-warning"></i></h2>
          <h3 class="">@ticketHelper.ArchivedTicketsCount()</h3>
          <h6 class="card-subtitle">Archived Tickets</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->
<!-- User Boxes Row -->
<div class="row justify-content-around">
  <!-- Managers -->
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-success card-inverse">
      <div class="box text-center">
        <h1 class="font-light text-white">@userRolesHelper.UsersInRole("Project Manager").Count</h1>
        <h6 class="text-white">Managers</h6>
      </div>
    </div>
  </div>
  <!-- Developers -->
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="box bg-info text-center">
        <h1 class="font-light text-white">@userRolesHelper.UsersInRole("Developer").Count</h1>
        <h6 class="text-white">Developers</h6>
      </div>
    </div>
  </div>
  <!-- Submitters -->
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-dark">
      <div class="box text-center">
        <h1 class="font-light text-white">@userRolesHelper.UsersInRole("Submitter").Count</h1>
        <h6 class="text-white">Submitters</h6>
      </div>
    </div>
  </div>
</div>
<div class="m-b-20"><hr /></div>
<!-- End User Boxes Row -->

<!-- Tickets Accordion Row -->
<div class="row m-b-20 justify-content-center">
  <div class="col-12">
    <div id="AdminAccordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
      <!-- All Tickets -->
      <div class="card">
        <div class="card-header" role="tab" id="Tickets">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#AdminAccordion" href="#AAcollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              All Tickets <i class="fa fa-sort-desc"></i>
            </a>
          </h5>
        </div>
        <div id="AAcollapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-body">
            <!-- put table here -->
            <table id="myTable" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="5">
              <thead>
                <tr>
                  <th>
                    Ticket Title
                  </th>
                  <th>
                    Developer
                  </th>
                  <th>
                    Project
                  </th>
                  <th>
                    Submitter
                  </th>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in ticketHelper.GetMyTickets())
                {
                  <tr>
                    <td>
                      @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Developer.FullName)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Submitter.FullName)
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Tickets Accordion -->
<hr />
<!-- Comments/Users Row -->
<div class="row">
  <!-- Comments column -->
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body bg-info">
        <h4 class="text-white card-title">Recent Comments</h4>
        <h6 class="card-subtitle text-white m-0 op-5">Latest Comments on users from Material</h6>
      </div>
      <div class="card-body">
        <div id="slimscroll2">
          <div class="comment-widgets m-b-20">
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
              <div class="p-2"><span class="round"><img src="~/Images/GlenStewart_600x600-96.jpg" alt="user" width="50"></span></div>
              <div class="comment-text w-100">
                <h5>James Anderson</h5>
                <div class="comment-footer">
                  <span class="date">April 14, 2016</span>
                  <span class="label label-info">Pending</span> <span class="action-icons">
                    <a href="javascript:void(0)"><i class="mdi mdi-pencil-circle"></i></a>
                    <a href="javascript:void(0)"><i class="mdi mdi-checkbox-marked-circle"></i></a>
                    <a href="javascript:void(0)"><i class="mdi mdi-heart"></i></a>
                  </span>
                </div>
                <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry.</p>
              </div>
            </div>
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row ">
              <div class="p-2"><span class="round"><img src="~/Images/GlenStewart_600x600-96.jpg" alt="user" width="50"></span></div>
              <div class="comment-text active w-100">
                <h5>Michael Jorden</h5>
                <div class="comment-footer">
                  <span class="date">April 14, 2016</span>
                  <span class="label label-success">Approved</span> <span class="action-icons active">
                    <a href="javascript:void(0)"><i class="mdi mdi-pencil-circle"></i></a>
                    <a href="javascript:void(0)"><i class="mdi mdi-checkbox-marked-circle text-success"></i></a>
                    <a href="javascript:void(0)"><i class="mdi mdi-heart text-danger"></i></a>
                  </span>
                </div>
                <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry..</p>
              </div>
            </div>
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
              <div class="p-2"><span class="round"><img src="~/Images/GlenStewart_600x600-96.jpg" alt="user" width="50"></span></div>
              <div class="comment-text w-100">
                <h5>Johnathan Doeting</h5>
                <div class="comment-footer">
                  <span class="date">April 14, 2016</span>
                  <span class="label label-danger">Rejected</span> <span class="action-icons">
                    <a href="javascript:void(0)"><i class="mdi mdi-pencil-circle"></i></a>
                    <a href="javascript:void(0)"><i class="mdi mdi-checkbox-marked-circle"></i></a>
                    <a href="javascript:void(0)"><i class="mdi mdi-heart"></i></a>
                  </span>
                </div>
                <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry.</p>
              </div>
            </div>
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
              <div class="p-2"><span class="round"><img src="~/Images/GlenStewart_600x600-96.jpg" alt="user" width="50"></span></div>
              <div class="comment-text w-100">
                <h5>James Anderson</h5>
                <div class="comment-footer">
                  <span class="date">April 14, 2016</span>
                  <span class="label label-info">Pending</span> <span class="action-icons">
                    <a href="javascript:void(0)"><i class="mdi mdi-pencil-circle"></i></a>
                    <a href="javascript:void(0)"><i class="mdi mdi-checkbox-marked-circle"></i></a>
                    <a href="javascript:void(0)"><i class="mdi mdi-heart"></i></a>
                  </span>
                </div>
                <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Users Column -->
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body bg-dark">
        <h4 class="text-white card-title">All Users</h4>
        <h6 class="card-subtitle text-white m-0 op-5">Click on any user to manage</h6>
      </div>
      <div class="card-body">
        <div id="slimscroll1">
          <div class="message-box contact-box">
            @*<h2 class="add-ct-btn"><button type="button" class="btn btn-circle btn-lg btn-success waves-effect waves-dark">+</button></h2>*@
            <div class="message-widget contact-widget">
              @foreach (var item in userHelper.GetUserList())
              {
                <a href="@Url.Action("Manage", "Users", new { userId = item.Id })">
                  @if (item.AvatarPath == null)
                  {
                    <div class="user-img"><img src="~/Images/Avatars/default_avatar.png" alt="user" class="img-circle mb-2"></div>
                  }
                  else
                  {
                    <div class="user-img"><img src="@item.AvatarPath" alt="user" class="img-circle"></div>
                  }

                  <div class="mail-content">
                    <h5>@item.FullName</h5> <span class="mail-desc">@item.Email</span>
                  </div>
                </a>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Comments/Users Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

@section Scripts {
  <script src="~/Scripts/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {

      $('#myTable').DataTable();
    })

    $('#slimscroll1').slimScroll({
      height: '400px'
    });

    $('#slimscroll2').slimScroll({
      height: '400px'
    });

  </script>
}