@using AphidBT.Models
@using AphidBT.Helpers

@model IEnumerable<Project>

@{
    ProjectHelper projectHelper = new ProjectHelper();
    ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h3 class="text-white card-title">Current Projects</h3>
        <h6 class="card-subtitle text-white m-0 op-5">Click on any row to edit project.</h6>
      </div>
      <div class="card-body px-4">
        <!-- List of Projects -->
        <table id="projectsTable" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="5">
          <thead>
            <tr>
              <th>
                @Html.DisplayNameFor(model => model.Name)
              </th>
              <th class="text-center">
                @Html.DisplayNameFor(model => model.Created)
              </th>
              <th class="text-center">
                Open Tickets
              </th>
              <th class="text-center">
                Managers
              </th>
              <th class="text-center">
                Developers
              </th>
              <th class="text-center">
                Submitters
              </th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model)
            {
              <tr onclick="window.location = '@Url.Action("Dashboard", "Projects", new { Id = item.Id })';">
                @*<tr>*@
                <td>
                  @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                  @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td class="text-center">
                  @projectHelper.CountOpenTickets(item.Id)
                </td>
                <td class="text-center">
                  @projectHelper.CountProjectManagers(item.Id)
                </td>
                <td class="text-center">
                  @projectHelper.CountDevelopers(item.Id)
                </td>
                <td class="text-center">
                  @projectHelper.CountSubmitters(item.Id)
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/Scripts/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#projectsTable').DataTable();
    })
  </script>
}
