@model IEnumerable<AphidBT.Models.Project>

@{
  ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Current List of Projects</h4>
      </div>
      <div class="card-body px-4">
        <table id="projectsTable" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="5">
          <thead>
            <tr>
              <th>
                @Html.DisplayNameFor(model => model.Name)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Created)
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model)
            {
                @*<tr onclick="window.location = '@Url.Action("EditProject", "Projects", new { Id = item.Id })';">*@
                <tr>
                <td>
                  @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                  @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                  {
                  <a href="@Url.Action("EditProject", "Projects", new { Id = item.Id })"
                     class="model_img img-responsive"><i class="ti-pencil-alt"></i>
                  </a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span> | </span>*@
                  }
                  
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/Scripts/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#projectsTable').DataTable();
    })
  </script>
}
